

<div data-form-target="formSession" class="absolute fixed z-30 w-[100%] h-[100vh] top-0 bg-black/50 backdrop-blur-sm flex items-center justify-center">
  <div class="w-[45%] bg-[#fff9ec] h-[90vh] border-2 rounded-lg border-[#FFDF20] p-5">
    <button data-action="click->form#toggleForm" class="bg-black p-5 text-white">
      Close
    </button>

    <h2>Nova sessao</h2>
    <%= form_for @session_record do |f| %>
      <%= f.label :title, "Titulo" %>
      <%= f.text_field :title, label: "Titulo" %>

      <%= f.submit 'criar' %>
    <% end %>

  </div>
</div>
