<header class="w-full h-3/15 bg-amber-50 flex justify-around items-center">
  <div class="bg-amber-200 flex items-center gap-5">
    <div class="w-15 h-15 shadow-md bg-amber-900"></div>
    <div>
      <h2>Localizando Memorias!</h2>
      <span>Registro de todas as minhas sessoes de board games</span>
    </div>
  </div>
  <button class="p-3 bg cursor-pointer flex rounded-lg shadow-md text-white bg-gradient-to-r from-[#F6339A] to-[#FF2056]"></">
    Adicionar registro
  </button>
</header>